<div class="container">
    <div class="row mt-3">
        <div class="col mx-5">
            <form id="login-form" class="text-center">
                <div class="form-group mt-3">
                    <label for="login-email">Email address</label>
                    <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group mt-3">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Login</button>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col mx-5">
            <form id="signup-form" class="text-center">
                <div class="form-group mt-3">
                    <label for="signup-username">Username</label>
                    <input type="text" class="form-control" id="signup-username" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="form-group mt-3">
                    <label for="signup-email">Email address</label>
                    <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group mt-3">
                    <label for="signup-password">Password</label>
                    <input type="password" class="form-control" id="signup-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>